<nav>
    <div class="site-title">
        <a href="/"><h1>Blog</h1></a>
        <p>JavaScript For Beginners</p>
    </div>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs/create">Crate New Blog</a>
        </li>
      </ul>
</nav>