<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/nav') %> 
    <div class="no-page content">
        <h2>OOP! Page not Found!</h2>
    </div>
    <%- include('./partials/footer') %> 
</body>
</html>